#bID { /* Style pour les boutons, pour l'instant l'ID est appliqué manuellement aux boutons mais il faudrait trouver une meilleure manière */
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    background-image: image(white);
}

#bID:hover {
	background-image: image(#9E9E9E);
}

#bID:active {
	background-image: image(#757575);
}

#labelSimple {
    color: black;
}

#labelStep {
    font-weight: bold;
    margin-top: 15px;
    color: black;
}

checkbutton {
    color : black;
    margin-left: 20px;
    background: white;
}

window {
    background-color: white;
}

entry {
    margin-left: 20px;
    margin-top: 10px;
    background-image: image(white);
    color:black;
}

grid {
    margin-top: 40px;
    margin-left: 20px;
}

image {
    margin-left: 100px;
}
